body{
        font-family: 'Oswald', sans-serif;
        background-image:url(img/top-banner.png);
        background-repeat:no-repeat;
}

.heder-section{
display:flex;
  padding:50px;
  position:relative;
  
}

.heder-manu{
  height:30px;
  
  
}

.heder-img img{
  width:400px;
}
.heder-conten{
  margin-top:50px;
}
.heder-conten h1{
  margin:0px;
  font-family: 'Lora', serif;
  font-size:50px;
  border-left:10px solid #000;
  border-image:linear-gradient(180deg,#2F64BEFA,#17E464FA);
  border-image-slice:1
 }
 .heder-conten h2{
      
      font-size:30px;
   
 }
 .heder-conten p{
   font-size:20px;
 }
 .heder-color{
   color:#A115B4
 }
 
 .heder-link{
   text-decoration:none;
   background-image:linear-gradient(160deg,#419D6A,#7542BF);
   padding:10px 50px;
   border-radius:10px;
   font-weight:bold;
   color:#FFF;
 }
 
 .heder-manu{
   height:200px;
   width:500px;
   right:230px;
   margin-top:420px;
   background-color:#53419D;
   border-radius:15px;
 }
 
 .mid-img{
   display:flex;
   gap:10px;
   margin-top:100px;
 }
 
 .mid-img div{
   height:350px;
   width:400px;
   margin:10px 10px;
   border-radius:10px;
 }
 .mid-img1{
   background-color:#4B55C899;
   box-shadow:10px 10px 30px #888888;
 }
 
 .mid-img1 img{
   width:130px;
 
 }
 
.mid-img1 h2{
  text-align:center;
  
}
.mid-img1 p{
  padding:20px;

}
 .img1_color{
   color:#E10EC6FA;
 }
 
 
 .mid-img2{
  background-color:#709B4F40;
  box-shadow:10px 10px 30px #888888;
   
   
 }
 
 .mid-img2 img{
   width:130px;
}

.mid-img2 h2{
  text-align:center;
}

.mid-img2 p{

padding:15px; 
 
}

 .mid-img3{
   
   background-color:#A965415E;
   box-shadow:10px 10px 30px #888888;
   
 }
 
 .mid-img3 img{
   width:130px;
 }
 
 .mid-img3 h2{
   text-align:center;
 }
 .mid-img p{
   padding:15px;
 }
 
 